.hotelContain {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.hotelImgWrapper {
    width: 33%;
}

.hotelImg {
    object-fit: cover;
    width: 100%;
}

.HotelImage {
    display: flex;
    flex-wrap: wrap;
}

.address {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.HotelDistance {
    color: blue;
}

.HotelPrice {
    color: green;
}

.HotelDetail {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.detailText {
    flex: 3;
}

.hotelDetailPrice {
    flex: 1;
    margin-left: 14px;
    background-color: rgb(127, 127, 228);
    border-radius: 10px;
    padding: 10px;
}

.Reserve {
    padding: 10px;
    background-color: rgb(80, 80, 255);
    color: white;
    width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}